.App {
  font-family: sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 2rem auto;
}

path { mix-blend-mode: screen; }
.isolate { isolation: isolate; } 